@import url('base.css');
@import url('rosepine_colors.css');

/*=========================================
import fonts
=========================================== */
/* Rounded */
@font-face{
  font-family: 'Raleway';
  src: url('./fonts/Raleway-VariableFont_wght.ttf');
}
/* Mono italic */
@font-face{
  font-family: 'Sometype Mono';
  font-style: italic, oblique;
  src: url('./fonts/SometypeMono-Italic-VariableFont_wght.ttf');
}
/* Mono regular */
@font-face{
  font-family: 'Sometype Mono';
  font-style: normal;
  src: url('./fonts/SometypeMono-VariableFont_wght.ttf');
}
/* hand writing */
@font-face{
  font-family: 'xkcd';
  src: url('./fonts/xkcd-script.woff');
}
/* wide font */
@font-face{
  font-family: 'Lexend';
  src: url('./fonts/LexendGiga-VariableFont_wght.ttf');
}
/* square font */
@font-face{
  font-family: 'MicroSquare';
  src: url('./fonts/MicroSquare Regular.ttf');
}

.suse-regular {
  font-family: "SUSE", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  src: url("./fonts/SUSE-VariableFont_wght.ttf"); 
}
.suse-bold {
  font-family: "SUSE", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  src: url("./fonts/SUSE-VariableFont_wght.ttf"); 
}

.ibm-plex-sans-regular {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  src: url("./fonts/IBMPlexSans-VariableFont_wdth,wght.ttf"); 
}

.ibm-plex-sans-bold {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  src: url("./fonts/IBMPlexSans-VariableFont_wdth,wght.ttf"); 
}


/*=========================================
start here
=========================================== */
:root {
    --head-font: 'SUSE';
    --main-font: 'IBM Plex Sans';
    --wide-font: 'Lexend';
    --mono-font: 'Sometype Mono';
    --hand-font: 'xkcd';
    --round-font: 'Raleway';
    --square-font: 'Microsquare';
    --bg-content: var(--rp-moon-base);
    --bg-inversed: linear-gradient(to bottom, var(--rp-base) 0%, var(--rp-overlay) 50%, var(--rp-base) 100%);
    --bg-external: var(--rp-moon-highlight-low);
    --text-content: var(--rp-moon-text);
    --text-inversed: var(--rp-moon-text);
    --white-color: var(--rp-moon-base);
    --black-color: var(--rp-dawn-base);
    --red-color: var(--rp-love);
    --orange-color: var(--rp-gold);
    --blue-color: var(--rp-pine);
    --grey-color: var(--rp-highlight-high);
    --light-grey-color: var(--rp-moon-muted);
    --text-highlight-bg: var(--rp-moon-gold);
    --text-highlight: var(--rp-moon-pine);
    --code-bg: var(--rp-moon-surface);
    --code-text: var(--rp-moon-text);
    --code-highlight: var(--rp-moon-highlight-med);
    --table-head-bg: var(--rp-text);
    --table-data-bg: var(--rp-base);
    --table-line: var(--rp-subtle);
}


body {
  font-family: var(--main-font);
  font-weight: 400;
  font-style: normal;
  color: var(--text-content);
  scroll-behavior: smooth;
}
h1, h2, h3 {
  font-family: var(--head-font);
  font-weight: 700;
 /*line-height: 1.2rem;*/
}

a, a > code {
  color: var(--red-color);
  text-decoration: underline dotted;
}

code {
  background: var(--code-bg);
  color: var(--code-text);
  border-radius: 5px;
}

.remark-code {
  background: var(--code-bg);
  color: var(--code-text);
}

.remark-code, .remark-inline-code { font-family: var(--mono-font); }
.remark-code-line-highlighted     { background-color: var(--code-highlight); }
.remark-slide-content {
  background: var(--bg-content);  /*linear-gradient(to bottom, #b6b7af 0%, #ffffff 50%, #babbb3 100%);*/ 
}

/* for full page image */
.remark-slide-content {
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
} 

.inverse {
  background: var(--bg-inversed); /*#272822;*/
  color: var(--text-inversed); 
}
.inverse h1, .inverse h2 {
  color: var(--text-inversed);
  /*line-height: 1.2em;*/
  font-weight: bold;
}

.remark-slides-area {
  background: var(--bg-external);
}


/* custom font */
.round { font-family: var(--round-font);}
.xkcd { font-family: var(--hand-font);}
.wide { font-family: var(--wide-font); }
.square { font-family: var(--square-font); }
.red { color: var(--red-color); }
.grey { color: var(--grey-color); }
.lightgrey {color: var(--light-grey-color);}
.blue {color: var(--blue-color); }



/* table related */
table, tr {  border: 1px solid var(--table-line); border-left: none; border-right: none; border-collapse: collapse; }
tr:last-child {
  border-bottom: 1.5px solid var(--table-head-bg); }

th{
  border-color: var(--table-data-bg);border-style:solid;border-width:1px;
  background-color: var(--table-head-bg);color: var(--table-data-bg);
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;
}
td{
  background-color:var(--table-data-bg);color: var(--table-head-bg);
  overflow:hidden;word-break:normal;
}

/* Two-column layout: left as menu */
.left-column {
  color: var(--text-content);
  width: 20%;
  height: 92%;
  float: left;
}
.left-column h2:last-of-type, .left-column h3:last-child {
  color: var(--blue-color);
}
.right-column {
  width: 75%;
  float: right;
  padding-top: 1em;
}

/* font styling */
.bold { font-weight: bold; }
.italic { font-style: italic; }
.underline { text-decoration: underline solid var(--red-color); }
.mark { 
  /*background-color: rgba(var(--text-highlight-bg), 0.7); */
  background: color-mix(in srgb, var(--text-highlight-bg) 30%, transparent);
  color: var(--text-highlight); }

/* boxes are for the text boxes on full page background images */
.box {
  display: inline-block;
  padding: 1.6rem;
  border: 1px solid var(--grey-color);
  text-align: center;
  background-color: var(--light-grey-color); /*var(--ctp-mocha-overlay2);*/
}
.box2 {
  display: inline-block;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.4rem;
  padding-bottom: 0.5rem;
  border: 1px solid var(--grey-color);
  text-align: center;
  background-color: var(--light-grey-color); /*var(--ctp-mocha-overlay2);*/
}

.box-text {
  color: var(--text-content);
  margin-top: 0px;
  margin-bottom: 0px;
  opacity: 1;
}

