@import url('base.css');

/*@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&family=Red+Hat+Mono:ital,wght@0,400;0,700;1,400&display=swap');*/

@font-face{
  font-family: 'Quicksand';
  src: url('./fonts/Quicksand-VariableFont_wght.ttf');
}

@font-face{
  font-family: 'xkcd';
  src: url('./fonts/xkcd-script.woff');
}

@font-face{
  font-family: 'Red Hat Mono';
  src: url('./fonts/RedHatMono-VariableFont_wght.ttf');
}

@font-face{
  font-family: 'Red Hat Mono';
  src: url('./fonts/RedHatMono-Italic-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Raleway';
  src: url('./fonts/Raleway-VariableFont_wght.ttf'); 
}

@font-face {
  font-family: 'Raleway italic';
  font-style: italic;
  src: url('./fonts/Raleway-Italic-VariableFont_wght.ttf'); 
}


body {
  font-family: 'Raleway';
  font-size: 12px;
  font-weight: 400;
  color: #222;
}
h1, h2, h3 {
  font-family: 'Raleway';
  font-weight: 400;
  margin-bottom: 0;
}
.remark-slide-content h1 { font-size: 3em; }
.remark-slide-content h2 { font-size: 2em; }
.remark-slide-content h3 { font-size: 1.6em; }

li p { line-height: 1.25em; }

a, a > code {
  color: rgb(249, 38, 114);
  text-decoration: none;
}
code {
  background: #e7e8e2;
  border-radius: 5px;
}
.remark-code, .remark-inline-code { font-family: 'Red Hat Mono'; }
.remark-code-line-highlighted     { background-color: #373832; }
.pull-left {
  float: left;
  width: 47%;
}
.pull-right {
  float: right;
  width: 47%;
}
.pull-right ~ p {
  clear: both;
}
#slideshow .slide .content code {
  font-size: 0.8em;
}
#slideshow .slide .content pre code {
  font-size: 0.9em;
  padding: 15px;
}
.remark-slide-content {
  background: #f2f3f5;/*linear-gradient(to bottom, #b6b7af 0%, #ffffff 50%, #babbb3 100%);*/ 
}

/* for full page image */
.remark-slide-content {
  background-size: contain; 
  background-position: center;
  background-repeat: no-repeat;
  font-size: 20px;
} 

.inverse {
  /*background: linear-gradient(to bottom, #000 0%, #1a2028 50%, #293845 100%); */ /*#272822;*/
  background: #232023;
  color: #e8e9eb; /*#777872;*/
  text-shadow: 0 0 20px #333;
}
.inverse h1, .inverse h2, .inverse h3 {
  color: #e8e9eb;
  line-height: 0.8em;
}
.inverse h2, .inverse h3 {
  text-transform: uppercase;
}

.inverselite {
  background: #33C3F0; 
  color: #fff;
}

.inverselite .round {
  font-family: 'Quicksand'; color: #000;
}

.remark-slides-area {
  background: #232023; /*linear-gradient(to bottom, #000 0%, #1a2028 50%, #293845 100%);*/
}

/* custom font */
.round { font-family: 'Quicksand'; color: #33C3F0;}
.xkcd { font-family: 'xkcd';}


  
/* table related */
.tg  {
  font-size: 15px;
  margin-left: auto;margin-right: auto;
  border-collapse:collapse;border-spacing:0;
}
.tg th,
.tg td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #9897a9; }
.tg th {
  border-top: 1px solid #9897a9; }
  
.tg th:first-child,
.tg td:first-child {
  padding-left: 0; }
.tg th:last-child,
.tg td:last-child {
  padding-right: 0; }
/*
.tg td{
  border-color:#293845;border-style:solid;border-width:1px;font-size:18px;
  background-color:#f2f3f5;color: #293845;
  overflow:hidden;padding:10px 5px;word-break:normal;
}

.tg th{
  border-color:#293845;border-style:solid;border-width:1px;font-size:18px;
  background-color:#293845;color: #f2f3f5;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;
}
*/
.tg .tg-basic-small{text-align:left;vertical-align:middle;font-size:0.8em;}
.tg .tg-basic{text-align:left;vertical-align:middle}
.tg .tg-center{text-align:center;vertical-align:middle}
.tg .tg-right{text-align:right;vertical-align:middle}
.tg .tg-bold{font-weight:500;text-align:left;vertical-align:middle}
.tg .tg-bold-center{font-weight:500;text-align:center;vertical-align:middle}
.tg .tg-bold-right{font-weight:500;text-align:right;vertical-align:middle}

ul {
  list-style: circle inside; }
ol {
  list-style: decimal inside; }
ol, ul {
  padding-left: 0;
  margin-top: 0; }
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }
li {
  margin-bottom: 1rem; }


/* Two-column layout: left as menu */
.left-column {
  color: #777;
  width: 20%;
  height: 92%;
  float: left;
}
.left-column h2:last-of-type, .left-column h3:last-child {
  color: #000;
}
.right-column {
  width: 75%;
  float: right;
  padding-top: 1em;
}
