:root {
	--nord0-night: #2e3440;
	--nord1-night: #3b4252;
	--nord2-night: #434c5e;
	--nord3-night: #4c566a;
	--nord4-snow: #d8dee9;
	--nord5-snow: #e5e9f0;
	--nord6-snow: #eceff4;
	--nord7-frost-water: #8fbcbb;
	--nord8-frost-ice: #88c0d0;
	--nord9-frost-artic: #81a1c1;
	--nord10-frost-ocean: #5e81ac;
	--nord11-aurora-red: #bf616a;
	--nord12-aurora-orange: #d08770;
	--nord13-aurora-yellow: #ebcb8b;
	--nord14-aurora-green: #a3be8c;
	--nord15-aurora-violet: #b48ead;
}
